@tailwind base;
@tailwind components;
@tailwind utilities;

.coll-group .coll-item {
  margin-top: -1rem;
  display: none;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}
.coll-group:hover .coll-item {
  margin-top: 0.5rem;
  display: flex;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}

.nav-col .nav-col-item {
  z-index: 10;
  margin-top: -1rem;
  display: none;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}
.nav-col:hover .nav-col-item {
  margin-top: 0rem;
  display: flex;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
}
